{% set count = 0 %}
{% for i in item.pair.name %}
{% if  item.pair.ip[count]  != '-' %}
[ {{ item.pair.name[count] }} ]
{{ item.pair.ip[count] }}

{% endif %}
{% set count = count + 1 %}
{% endfor %}
